# Build
build/
.kotlin/

# Idea
.idea
*.iml

# Gradle
.gradle
local.properties
.gradletasknamecache

# OS
.DS_Store

# XCode
xcuserdata/

# Android
phoenix-android/debug/
phoenix-android/release/
.externalNativeBuild
sdk-dependencies
apk
.cxx
logs/

# LangTool
.langtool/deepl.authtoken

# Smart Contracts
smart-contracts/node_modules
smart-contracts/.env
smart-contracts/cache
smart-contracts/artifacts
smart-contracts/typechain
smart-contracts/typechain-types
